Automate social media posts with AI content and images across Twitter, LinkedIn & Facebook.json
{
  "name": "Automate social media posts with AI content and images across Twitter, LinkedIn & Facebook",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Based on the title: {{ $json.message.content }}\nGenerate a japanese anime style image ",
        "options": {}
      },
      "id": "0524af9f-0d39-4304-922d-a8c2807a9fa3",
      "name": "Generate an image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1408,
        240
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "c836e49a-9d69-4e59-8a91-40a6c049dda6",
      "name": "Append or update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3680,
        48
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "text": "={{ $json.Description }}",
        "additionalFields": {}
      },
      "id": "34959513-e476-4956-bf7c-70c4d777e166",
      "name": "Create Tweet",
      "type": "n8n-nodes-base.twitter",
      "position": [
        3312,
        464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "637145e8-189d-46c6-be02-cfe000446da1",
      "name": "Create a post",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        3312,
        -352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "40f14ed0-4935-43b0-9b8d-d11ef83a821c",
      "name": "Facebook Graph API",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        3312,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        96,
        0
      ],
      "id": "96d62905-d1e4-4740-bdb7-ff398d39eaca",
      "name": "Telegram Trigger",
      "webhookId": "9f73909a-2ab4-49b2-914a-25ccf89c24ed",
      "credentials": {
        "telegramApi": {
          "id": "VQ75blgEjp9ClZ6m",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        608
      ],
      "id": "793ce922-05ca-4187-a77a-5bb42dcd71c5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "J6WTXKLGIzLUHfDu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        3312,
        -192
      ],
      "id": "6098208b-0ee9-4f3d-972e-2d1888a89db6",
      "name": "Publish"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        3312,
        -16
      ],
      "id": "7a4b95f3-9b65-402f-b239-3b407109210c",
      "name": "Publish1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3312,
        288
      ],
      "id": "ba525b06-c888-454e-af97-e8e7e5c1eed7",
      "name": "Facebook Graph API1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "874b9ae9-f698-4d62-b162-164a67857d40"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "af910d1e-a4a1-4c93-93b9-122bc753cafb",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "36b892f3-15ed-4a93-9e28-78ca8d64a4b5",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "95ba48a4-7234-49bb-a5c2-598273f2bebb",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e805afff-c5d2-4933-a98b-e0e526d6ec04",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "27d57e9b-3441-474b-b9ac-2535a85c8cb7",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aff06891-35c7-4bcb-8771-b3f5cac1feb8",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2800,
        144
      ],
      "id": "150ce981-1a4c-432b-b91c-235f948277d1",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        320
      ],
      "id": "502e0e47-211a-41bd-8040-62113a647141",
      "name": "Get a file",
      "webhookId": "fa6676bf-5560-47d3-b7bf-5b3cd5cf3348",
      "credentials": {
        "telegramApi": {
          "id": "VQ75blgEjp9ClZ6m",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        320
      ],
      "id": "0ba413cf-dabc-4d82-8b46-e8e191f51dc3",
      "name": "Get a chat",
      "webhookId": "da942309-81b1-49a0-95eb-7833bde283d5",
      "credentials": {
        "telegramApi": {
          "id": "VQ75blgEjp9ClZ6m",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Create a 50 character title of a topic related to very specific problem related to n8n or automation.",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        0
      ],
      "id": "6294ad1d-3bff-4739-87af-c7a771a35d97",
      "name": "Generate Description/ review changes"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the title: {{ $json.message.content }}\nWrite a tweet that breaks this topic down.\n\nBe solution oriented and make it easily readable with easy vocabulary\n\nAdd some hashtags too ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        -192
      ],
      "id": "bd148d44-d243-4f32-b9e0-b973654d4b2a",
      "name": "Caption Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        192
      ],
      "id": "268cd755-5936-4fe4-bfe9-e0c83983dc26",
      "name": "Image Generator or tuner prompter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1808,
        224
      ],
      "id": "36a44558-87f3-4e20-8abd-873e662c664e",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        96,
        -384
      ],
      "id": "e84bddc0-d841-4497-9d00-14e8c87312f2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -384
      ],
      "id": "2ef4a35c-d0bf-4439-9dce-fb1588a5acd1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6HFHApaPes2I6JT3",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Generate an image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Generate Description/ review changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Description/ review changes",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Caption Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Generator or tuner prompter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Publish": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generator or tuner prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Get a chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a chat": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Description/ review changes": {
      "main": [
        [
          {
            "node": "Caption Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image Generator or tuner prompter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator or tuner prompter": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caption Generator": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Generate Description/ review changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "434dd1c1-bd18-4ee2-bf61-11cdc676e553",
  "meta": {
    "templateId": "5841",
    "instanceId": "7ba878cf6af82143edc70ea28d76804cec78b14e57ebeb442c559465803557d6"
  },
  "nodeGroups": [],
  "id": "hPAimTlaBxMJKvIx",
  "tags": []
}