Job applying agent.json
{
  "name": "Job applying agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Agent",
        "formDescription": "Give the Target Business URL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Target Business Website",
              "requiredField": true
            },
            {
              "fieldLabel": "Applying As",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Video Editor"
                  },
                  {
                    "option": "SEO Expert"
                  },
                  {
                    "option": "Full-Stack Developer"
                  },
                  {
                    "option": "Social Media Manager"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "edb25e44-ef64-4997-ba1f-a101c9cbbba3",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "cd48da96-9083-435f-8587-d4f38bec0f5a",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Business/Company Info:  {{ $('Information Extractor').item.json.output.Summary }}\nEmaill Address: {{ $('Information Extractor').item.json.output['Email Address'] }}\n\nApplied Position: {{ $('On form submission').item.json['Applying As'] }}",
        "options": {
          "systemMessage": "=You task is to make a perfect Email based on the applied position for the Company/Business. And send the email with a perfect subject to the email address.\nMy Name is Jamal Mia. And my working experience data is given for the applied position in the google Sheet."
        }
      },
      "id": "b5b96cc7-730d-48bd-a03d-a592c417a422",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2000,
        224
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "f3a53306-65df-4baa-95bc-83e3b16f1b02",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2000,
        448
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "J6WTXKLGIzLUHfDu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Jamal Mia"
        }
      },
      "id": "b6871b1c-92dd-4cd5-883d-a1df5eed3a05",
      "name": "Send a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2384,
        496
      ],
      "webhookId": "4c34f0dd-0d7f-4358-a3b9-2554cc0488c8",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "dbe11241-a8df-497a-87c1-b3f68cf2818d",
      "name": "Get row(s) in sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        2192,
        496
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6HFHApaPes2I6JT3",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Agent Response",
        "completionMessage": "={{ $json.output }}",
        "options": {}
      },
      "id": "d9efc3ed-4370-4440-855a-e7a2dd2b25bc",
      "name": "Form",
      "type": "n8n-nodes-base.form",
      "position": [
        2528,
        224
      ],
      "webhookId": "a6e69f44-4568-4ebc-af72-100ffdc05c39",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json[\"Target Business Website\"] }}",
        "options": {}
      },
      "id": "a1da7bcc-2f62-4511-80b4-1eff9e446ff9",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        576,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "id": "32d6f5b9-f806-4984-9e43-7e4f76245e4c",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        784,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "Email Address",
              "description": "only 1 email address from the data in perfect email format",
              "required": true
            },
            {
              "name": "Summary",
              "description": "a simple summary about the Company/Business",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "61fae134-469e-4991-8e98-523b99c65123",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        992,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "ef4190f4-487d-4f08-97a0-853c57352535",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1040,
        416
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "J6WTXKLGIzLUHfDu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "44e1e352-e6ec-43fd-b49c-23f46eba15b5",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output[\"Email Address\"] }}",
              "rightValue": "@"
            }
          ]
        },
        "options": {}
      },
      "id": "2565ac6d-5423-4ded-ab2b-15db5025f158",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1456,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "43dd189f-42f0-498a-af10-1f87c5ae948b",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1728,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        400,
        -496
      ],
      "id": "473994ee-70c2-43a7-a515-6b6992c86a4d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        912,
        -496
      ],
      "id": "ad3958a8-c4f5-46d2-a0d1-9822f1788c96",
      "name": "Run an Actor and get dataset"
    },
    {
      "parameters": {
        "operation": "get"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        624,
        -496
      ],
      "id": "56948a27-fe85-4eae-8f9b-e491a691bf7b",
      "name": "Get a document"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        -496
      ],
      "id": "f296195a-7946-495b-9884-401e4b66376d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1504,
        -480
      ],
      "id": "8ddce837-5f84-401e-8232-b817a243e194",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "90a7f48e-b62e-4f93-b621-083c77842bda",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1840,
        -480
      ],
      "id": "bcfdb79a-21c4-41e1-8b3b-ef37b341db25",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2048,
        -480
      ],
      "id": "57892bae-3c4b-497b-9db5-4a3732e7d0e5",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2256,
        -480
      ],
      "id": "a94a6940-ff7f-4253-bad2-24108a6e6c8a",
      "name": "Markdown1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2752,
        -480
      ],
      "id": "3d4b645a-825b-46ef-97d5-c49612b06fd9",
      "name": "Create a document"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2960,
        -480
      ],
      "id": "ca43ea05-f783-47cd-9a35-7ab83070cc73",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6HFHApaPes2I6JT3",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "820c0498-799f-46ec-bba6-6af721ca136b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2464,
        -480
      ],
      "id": "81e9f7ae-60f5-401c-aad9-102c28a416a5",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "19048389-cb78-4578-862e-bea8600b74de",
  "meta": {
    "templateId": "7889",
    "instanceId": "7ba878cf6af82143edc70ea28d76804cec78b14e57ebeb442c559465803557d6"
  },
  "nodeGroups": [],
  "id": "HpemhcBM4XDWooqs",
  "tags": []
}